body {
  background-color: #0f172a;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

h1 {
  text-align: center;
}

input {
  width: 70%;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 8px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn {
  background-color: white;
  color: black;
}

.delete-btn {
  background-color: #ef4444;
  color: white;
}

.delete-btn {
  background-color: transparent;
  color: #ef4444;
  border: 1px solid #ef4444;
}

.delete-btn:hover {
  background-color: #ef4444;
  color: white;
}
li {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}